* {
  font-family: 'Prosto One', sans-serif;
}

.header {
  background-color: #2F2F2F;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  display: inline-block;
  width: 147px;
  height: 96px;
}

.logo img {
  object-fit: cover;
  display: block;
}


.nav {
  font-family: 'Prosto One', sans-serif;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 50px;
  gap: 30px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #FFB200;
}

.city-selector {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #2F2F2F;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px 0;
  list-style: none;
  margin: 0;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.dropdown li {
  padding: 10px 16px;
  color: #DADADA;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown li:hover {
  background-color: #FFB200;
  color: #3D3D3D;
}

.city-selector .auth-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #FFB200;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.booking-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #FFB200;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.booking-button:hover {
  background-color: #d49500;
  transform: scale(1.05);
}

.auth-buttons {
  display: flex;
  gap: 40px;
}

.exit-button {
  margin-top: 2px;
  font-family: 'Prosto One', sans-serif;
  transform: scale(1.05);
  font-size: 16px;
  width: 100px;
  height: 40px;
  background-color: #FFB200;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.exit-button:hover {
  background-color: #d49500;
  transform: scale(1.05);
}


.auto-button {
  font-family: 'Prosto One', sans-serif;
  background-color: #fde047;
  transform: scale(1.05);
  font-size: 16px;
  width: 240px;
  height: 50px;
  background-color: #FFB200;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auto-button:hover {
  background-color: #fde047;
  transform: scale(1.05);
}

.user-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.user_name {
  position: relative;
  display: inline-block;
}

.text_name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.user_name:hover .text_name {
  color: #FFB200;
}