body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  margin: 0;
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}